<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hw.vo.User" alias="user"/>
		<typeAlias type="com.hw.vo.Contents" alias="contents"/>
		<typeAlias type="com.hw.vo.Heart" alias="heart"/>
		<typeAlias type="com.hw.vo.Reply" alias="reply"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/usermapper.xml"/>	
		<mapper resource="com/config/contentsmapper.xml"/>
		<mapper resource="com/config/heartmapper.xml"/>	
		<mapper resource="com/config/replymapper.xml"/>		
	</mappers>
	
</configuration>






